<div class="l-sidepad">
  <h2 class="aligncenter">{{t "blurb"}}</h2>
</div>

<div class="l-narrow">
  <div class="l-sidepad">
    {{input
      disabled=isRunning
      classNames='input-address'
      classNameBindings='error.address:is-errored'
      value=address
      placeholder=(t 'address.placeholder')}}
      
    {{#if error.address}}
      <p class="error">{{error.address}}</p>
    {{/if}}

    {{input
      disabled=isRunning
      classNames='input-phonenumber'
      classNameBindings='phoneChangeset.error.phoneNumber:is-errored'
      value=phoneChangeset.phoneNumber
      placeholder=(t 'phone-number.placeholder')}}
      
    {{#if phoneChangeset.error.phoneNumber}}
      <p class="error">{{t 'validations.phone' value=phoneChangeset.phoneNumber}}</p>
    {{/if}}

    <button class="lookup-submit" {{action 'getReps'}} disabled={{or changeset.isInvalid isRunning}}>{{#if isRunning}}{{fa-icon "spinner" spin=true}} {{/if}} {{t 'labels.submit'}}</button>
  </div>
</div>
