<h2>Connecting you to the people in goverment who represent you, so you can tell them what you want.</h2>

{{input
  classNames='input-zipcode'
  classNameBindings='changeset.error.zipCode:is-errored'
  value=changeset.zipCode
  placeholder='Type your zipcode'}}
  
{{#if changeset.error.zipCode}}
  <p class="error">{{changeset.error.zipCode.validation}}</p>
{{/if}}

    {{input
      classNames='input-phonenumber'
      classNameBindings='phoneChangeset.error.phoneNumber:is-errored'
      value=phoneChangeset.phoneNumber
      placeholder='Type your phone number (optional)'}}
      
    {{#if phoneChangeset.error.phoneNumber}}
      <p class="error">{{phoneChangeset.error.phoneNumber.validation}}</p>
    {{/if}}

<button class="lookup-submit" {{action 'getReps'}} disabled={{changeset.isInvalid}}>Go</button>
