<div class="l-sidepad">
  <h2 class="aligncenter">{{t "blurb"}}</h2>
</div>

<div class="l-narrow">
  <div class="l-sidepad">
    {{input
      classNames='input-zipcode'
      classNameBindings='changeset.error.zipCode:is-errored'
      value=changeset.zipCode
      placeholder=(t 'zipcode.placeholder')}}
      
    {{#if changeset.error.zipCode}}
      <p class="error">{{changeset.error.zipCode.validation}}</p>
    {{/if}}

    {{input
      classNames='input-phonenumber'
      classNameBindings='phoneChangeset.error.phoneNumber:is-errored'
      value=phoneChangeset.phoneNumber
      placeholder=(t 'phone-number.placeholder')}}
      
    {{#if phoneChangeset.error.phoneNumber}}
      <p class="error">{{t 'validations.phone' value=phoneChangeset.phoneNumber}}</p>
    {{/if}}

    <button class="lookup-submit" {{action 'getReps'}} disabled={{changeset.isInvalid}}>{{t 'labels.submit'}}</button>
  </div>
</div>
