<div class="representative-leftside">
  <h3>{{rep.fullTitle}} {{rep.firstName}} {{rep.lastName}}</h3>
  <p>{{rep.party}}</p>
  <p>Phone: {{rep.phone}}</p>
</div>

<div class="representative-rightside">
  <button class="representative-callbutton" {{action 'callRep' rep.phone}}>
    Call this person
  </button>
</div>
