<div class="representative-leftside">
  <h3>{{rep-title rep.office}} {{rep.name}}</h3>
  <p>{{t (concat 'parties.' rep.party) default='parties.none'}}</p>
  {{#if isTouch}}
  <p>{{t 'labels.phone'}}: <a href="tel:{{rep.phone}}">{{rep.phone}}</a></p>
  {{else}}
  <p>{{t 'labels.phone'}}: {{rep.phone}}</p>
  {{/if}}
</div>

<div class="representative-rightside">
  {{#if isDialing}}
  Calling now (check your phone)
  {{else if myPhone}}
  <button class="representative-callbutton gtm__click-tracking" data-label="{{rep.name}}|{{rep.party}}" {{action 'callRep' rep.phone}}>
    {{t 'labels.call'}}
  </button>
  {{/if}}
</div>
