<div class="representative-leftside">
  <h3>{{t (concat 'titles.' rep.title) default='titles.none'}} {{rep.firstName}} {{rep.lastName}}</h3>
  <p>{{t (concat 'parties.' rep.party) default='parties.none'}}</p>
  {{#if isTouch}}
  <p>{{t 'labels.phone'}}: <a href="tel:{{rep.phone}}">{{rep.phone}}</a></p>
  {{else}}
  <p>{{t 'labels.phone'}}: {{rep.phone}}</p>
  {{/if}}
</div>

<div class="representative-rightside">
  <button class="representative-callbutton" {{action 'callRep' rep.phone}}>
    {{t 'labels.call'}}
  </button>
</div>
