<h1>Click To Congress</h1>

<p>Calling your legislator is the most effective way to make change happen.</p>

<p>Enter your zip code to see your members of congress.</p>

<p>Then enter your phone number to make the call.</p>

<p>
  <label>Zip Code
    {{input value=zip enter='lookup'}}
  </label>
</p>

{{#if legislators}}
  <p>
    <label>
      <strong>Enter your phone number</strong>
      {{input value=phone}}
    </label>
  </p>

  {{#if (and phone selectedLegislator)}}
  <p>
    <button {{action 'call' selectedLegislator.phone}}>
      Call {{selectedLegislator.first_name}} {{selectedLegislator.last_name}}
    </button>
  </p>
  {{/if}}
  {{#each legislators as |l|}}
  <div class="legislator{{if l.selected ' is-selected'}}" {{action 'select' l}}>
    <h2>
      {{if (eq l.chamber "senate") 'Senator' 'Representative'}}
      {{l.first_name}} {{l.last_name}}
    </h2>
    <address><a href={{l.phone}}>{{l.phone}}</a></address>
  </div>
  {{/each}}
{{/if}}
