<h1>Click To Congress</h1>

  {{lookup-form
    lookup=(action 'lookup')
    phoneChangeset=changeset}}

<div class="l-wide">
  {{#if model}}
    <div class="l-sidepad">
      <p class="aligncenter smaller">You live in zip code {{zip}}. This is called the {{district}} Congressional District. Here's who represents you:</p>
    </div>
  {{/if}}
  {{#each legislators as |l|}}
  <div class="legislator{{if l.selected ' is-selected'}}" {{action 'select' l}}>
    <h2>
      {{if (eq l.chamber "senate") 'Senator' 'Representative'}}
      {{l.first_name}} {{l.last_name}}
    </h2>
    <address><a href={{l.phone}}>{{l.phone}}</a></address>
  </div>
  {{/each}}
{{/if}}
