<div class="l-medium">
  
  {{language-select}}
  
  <h1 class="aligncenter">Click To Congress</h1>

  {{lookup-form
    serverError=serverError
    lookup=(perform lookup)
    isRunning=lookup.isRunning
    phoneChangeset=changeset}}
</div>

<div class="l-wide">
  {{#if (and address districts)}}
    <div class="l-sidepad">
      <p class="smaller">
        {{t 'location.blurb' address=address}}
      </p>
      <ul class="smaller">
        {{#each districts as |district|}}
        <li>
          {{district}}
        </li>
        {{/each}}
      </ul>
      <p class="smaller">
        {{t 'rep-intro'}}
      </p>
    </div>
  {{/if}}
  {{#each reps as |rep|}}
    {{rep-item myPhone=changeset.phoneNumber rep=rep call=(action 'call')}}
  {{/each}}
</div>

<!-- <footer class="footer"></footer> -->
