<div class="l-medium">
  
  {{language-select}}
  
  <h1 class="aligncenter">Click To Congress</h1>

  {{lookup-form
    lookup=(action 'lookup')
    phoneChangeset=changeset}}
</div>

<div class="l-wide">
  {{#if model}}
    <div class="l-sidepad">
      <p class="aligncenter smaller">
        {{t 'location.address' address=address}}.<br>
        {{t 'location.congress' congress=congress}}.<br />
        {{t 'location.stateSenate' stateSenate=stateSenate}}.<br />
        {{t 'location.stateAssembly' stateAssembly=stateAssembly}}<br />
        {{t 'location.reps'}}</p>
    </div>
  {{/if}}
  {{#each model as |rep|}}
    {{rep-item rep=rep call=(action 'call')}}
  {{/each}}
</div>

<!-- <footer class="footer"></footer> -->
